@model IEnumerable<PracaInz.Models.Student>
    @{
        ViewBag.Title = "Index";
    }

    <h2>Index</h2>
    <p>
        @Html.ActionLink("Nowy uczeń", "New", "Student", null, new { @class = "btn btn-primary" })
    </p>

    @if (!Model.Any())
    {
        <p>Nie mamy żadnych uczniów w bazie.</p>
    }
    else
    {
        <table id="studentsTable" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Imię i Nazwisko</th>
                    <th>Klasa</th>
                    <th>Akcje</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var student in Model)
                {
                <tr>
                    <th class="text-info">@student.FirstName  @student.LastName</th>
                    <td>@student.Class.Name</td>
                    <td>
                        @Html.ActionLink("Szczegóły", "Details", "Student", new { id = student.Id }, null) |
                        @Html.ActionLink("Edytuj", "Edit", "Student", new { id = student.Id }, null) |
                        @Html.ActionLink("Usuń", "Delete", "Student", new { id = @student.Id }, new { @class = "btn-link" }) |
                        @Html.ActionLink("Oceny", "GradeList", "Student", new { id = @student.Id }, new { @class = "btn-link" })
                    </td>
                </tr>
                }
            </tbody>
        </table>
    }



