@model PracaInz.ViewModels.BothMultiStudentClassVM

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<p>
    @Html.ActionLink("Nowa Klasa", "New", "Movies", null, new { @class = "btn btn-primary" })
</p>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Klasa</th>
            <th>Ile uczniów</th>
            <th>Akcje</th>
        </tr>
    </thead>
    @foreach (var item in Model.Class)
    {
        <tbody>
            <tr>
                <td>@item.Name</td>
                <td>@Model.Student.Where(s => s.ClassId == item.Id).Count().ToString()</td>
                <td>
                    @Html.ActionLink("Lista Uczniów", "List", "Class", new { id = item.Id }, new { @class = "btn-link" }) | 
                    @Html.ActionLink("Usuń", "Delete", "Class", new { id = item.Id }, new { @class = "btn-link" })
                </td>
            </tr>
        </tbody>
    }
</table>


